node_modules

*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

/.vs
/MvcCoreApplication/CoreApplication.Mvc/obj/project.assets.json
/MvcCoreApplication/CoreApplication.Mvc/obj/CoreApplication.Mvc.csproj.nuget.g.targets
/MvcCoreApplication/CoreApplication.Mvc/obj/CoreApplication.Mvc.csproj.nuget.g.props
/MvcCoreApplication/.vs/MvcCoreApplication/v15/Server/sqlite3/storage.ide-wal
/MvcCoreApplication/.vs/MvcCoreApplication/v15/Server/sqlite3/storage.ide-shm
/MvcCoreApplication/.vs/MvcCoreApplication/v15/Server/sqlite3/storage.ide
/MvcCoreApplication/.vs/MvcCoreApplication/v15/Server/sqlite3/db.lock
/MvcCoreApplication/.vs/MvcCoreApplication/DesignTimeBuild/.dtbcache
/MvcCoreApplication/.vs/*
/MvcCoreApplication/CoreApplication.Mvc/obj/*
/MvcCoreApplication/CoreApplication.Domain/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Infra.Data/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Mvc/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Application/obj/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Application/obj
/MvcCoreApplication/CoreApplication.Domain/obj/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Domain/obj
/MvcCoreApplication/CoreApplication.Infra.Data/obj/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Infra.Data/obj
/MvcCoreApplication/CoreApplication.Application/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Infra.IoC/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Infra.IoC/obj
/MvcCoreApplication/CoreApplication.Infra.Bus/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Infra.Bus/obj/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Infra.Bus/obj
/MvcCoreApplication/CoreApplication.Domain.Core/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Domain.Core/obj
/MvcCoreApplication/CoreApplication.Api/obj
/MvcCoreApplication/CoreApplication.Api/bin/Debug/netcoreapp3.1
/MvcCoreApplication/CoreApplication.Api/Properties
